Release/**
Debug/**
ASIOSynthesizer_debug.exe
*.obj
DTFM_Generator.opt
DTFM_Generator.opt
DTFM_Generator.ncb
Debug/vc60.idb
Debug/DTFM_Generator.pch
Debug/vc60.pdb
*.pch
Release/vc60.idb
ASIOSynthesizer_debug.exe
