Release/**
Debug/**
ASIOSynthesizer_debug.exe
*.obj
DTFM_Generator.opt
DTFM_Generator.opt
DTFM_Generator.ncb
Debug/vc60.idb
Debug/DTFM_Generator.pch
Debug/vc60.pdb
*.pch
Release/vc60.idb
ASIOSynthesizer_debug.exe
Debug/DialogASIOConnect.obj
Debug/DialogASIOConnect.sbr
Debug/DTFM_Generator.obj
Debug/DTFM_Generator.pch
Debug/DTFM_Generator.res
Debug/DTFM_Generator.sbr
Debug/DTFM_GeneratorDlg.obj
Debug/DTFM_GeneratorDlg.sbr
Debug/StdAfx.obj
Debug/synth.obj
Debug/vc60.idb
Debug/vc60.pdb
Release/DialogASIOConnect.obj
Release/DTFM_Generator.obj
Release/DTFM_Generator.res
Release/DTFM_GeneratorDlg.obj
Release/vc60.idb
